/*
  WebTail project CSS file
  https://github.com/LeKovr/webtail
*/

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #f5f5f5}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.bottom {
  background: #f2f2f2;
  font-size: 9pt;
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
}

.hide {
  display: none;
}

.content {
  width:95%;
  min-height:300px;
}

.data {
  width: 95vw;
  font-family: monospace;
  padding-top:38px;
  padding-bottom:12px;
}

.top {
  overflow: hidden;
  position:fixed;
  width:100%;
  top:0px;
  left: 0;
  background: #f2f2f2;
  padding-bottom:2px;
  padding-left:10px;
}
.right {
  float: right;
  text-align: right;
  padding-right: 20px;
  font-color: #888;
  background: #f2f2f2;
  padding-top: 4px;
}

.right label {
   vertical-align: top;
}

.left {
  display: inline-block;
  padding-top:2px;
  padding-left:4px;
  overflow: hidden;
  background: #f2f2f2;
}

h4 {
  margin: 3px;
}

form {
  display: inline-block;
}
