/*
  WebTail project CSS file
  https://github.com/LeKovr/webtail
*/

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #f5f5f5}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.bottom {
  text-align:right;
  font-size: 9pt;
}

.hide {
  display: none;
}

.content {
  width:95%;
  min-height:300px;
}

.data {
  width: 95vw;
  font-family: monospace;
  padding-top:38px;
}

.top {
  overflow: hidden;
  position:fixed;
  width:100%;
  top:0px;
}
.right {
  float: right;
  text-align: right;
  padding-right: 20px;
  width: 200px;
  height: 34px;
  font-color: #888;
  background: #f2f2f2;
  padding-top: 4px;
}

.right label {
   vertical-align: top;
}

.left {
  height: 38px;
  overflow: hidden;
  background: #f2f2f2;
}

h4 {
  margin: 6px;
}
